doctype html
html(lang="ko")
    head
        title #{pageTitle} | Health in
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css")
        link(rel="stylesheet", href="/frontend/css/style.css")
        script(src="/frontend/js/header.js")
        script(src="/frontend/js/home.js")
        script(src="/frontend/js/store.js")
        script(src="/frontend/js/productReg.js")
        //-캘린더(김의윤)
        link(rel='stylesheet', href='/fullcalendar/main.css')
        link(rel='stylesheet', href='/style.css')
        script(src='/jquery/dist/jquery-3.7.1.min.js')
        script(src='/fullcalendar/main.js')
        script(src='/javascripts/main.js')

    body
        include partials/faqIcon.pug
        header.home-header
            div.home-header_left
                img(src='/image/logo.jpg' alt='Logo')
                a.home-header_nav-links(href="/" data-id="home")
                    span 홈
                a.home-header_nav-links(href="/store/newest" data-id="store")
                    span 쇼핑
                a.home-header_nav-links(href="#" data-id="challenge")
                    span 챌린지
                a.home-header_nav-links(href="/post" data-id="community")
                    span 커뮤니티
            div.home-header_right
                if loggedIn
                    div.header-profile
                        a(href=`/user/${loggedInUser._id}`)
                            span #{loggedInUser.username}
                            span 님 환영합니다!
                        a(href=`/user/logout`)  | 로그아웃
                else
                    div.header-login
                        a(href="/login")
                            span 로그인
                        a(href="/join")
                            span 회원가입
        div.home-header-line
        block content
        block scripts