extends header.pug

block content
    div.adminPage-Title
        div 나의 판매
    div.adminPage-content
        div.adminPage-content_left
            a(href="/admin/mySales")
                div.adminPage-content_mySales
                    span 나의 판매
                    span 
                        i(class="fa-solid fa-chevron-right")
            a(href="/admin/productReg")
                div.adminPage-content_productReg
                    span 상품 등록
                    span 
                        i(class="fa-solid fa-chevron-right")
        div.adminPage-content_right
            //-해당 판매자가 올린 상품이 들어갈 예정