extends header.pug

block content
    div.productReg-Title
        div 상품 등록
    div.productReg-content
        div.adminPage-content_left
            a(href=`/user/${user._id}`)
                div.adminPage-content_myprofile
                    span 마이페이지
                    span 
                        i(class="fa-solid fa-chevron-right")
            a(href=`/user/${user._id}/mySales`)
                div.adminPage-content_mySales
                    span 나의 판매
                    span 
                        i(class="fa-solid fa-chevron-right")
            a(href=`/user/${user._id}/productReg`)
                div.adminPage-content_productReg
                    span 상품 등록
                    span 
                        i(class="fa-solid fa-chevron-right")
        div.productReg-content_right
            form(method="POST" enctype="multipart/form-data") 
                div.productReg-content_productName
                    div 상품명
                    div
                        input(name="productName" type="text" required)
                div.productReg-content_level
                    div 카테고리
                    div
                        input(name="category" type="radio" value="fashion" required)
                        | 패션
                        input(name="category" type="radio" value="equipment")
                        | 기구
                        input(name="category" type="radio" value="food")
                        | 식품
                div.productReg-content_seller
                    div 판매자
                    div
                        input(name="seller" type="text" value=user.username readonly required)
                div.productReg-content_price
                    div 판매가
                    div
                        input(name="price" type="text" onkeyup="inputNumberFormat(this);" required)
                div.productReg-content_discount
                    div 할인율
                    div
                        input(name="discount" type="text")
                div.productReg-content_thumbnail
                    div 썸네일
                    div
                        input(name="thumbnail" type="file" id="thumbnail" accept="image/png, image/jpeg" required)
                div.productReg-content_productImage
                    div 사진등록
                    div.productReg-content_productImage_fileList
                        input(name="productImage" type="file" id="productImage" accept="image/png, image/jpeg")
                        input(name="productImage" type="file" id="productImage" accept="image/png, image/jpeg")
                        input(name="productImage" type="file" id="productImage" accept="image/png, image/jpeg")
                div.productReg-content_productDescription
                    div 상품설명
                    div
                        textarea(name="productDescription" required) 
                div.productReg-content_button
                    input(type="submit" value="등록")