extends header.pug

block content
    div.headerbar-sub
        ul.headerbar-sub_list
            a(href="/store/newest")
                li 최신 상품
            a(href="/store/fashion")
                li 패션
            a(href="/store/equipment")
                li 기구
            a(href="/store/food")
                li 식품
    div.home-header-line
    //-사진 및 정보는 임시 입력(사용자가 상품등록에서 입력한 정보 끌어올 예정)
    div.store-details
        div.store-details_img
            div.store-details_img_big
                img#productThumbnail(src="/" + product.thumbnail)
            div.store-details_img_small
                img.productImage(src="/" + productImage[0])
                img.productImage(src="/" + productImage[1])
                img.productImage(src="/" + productImage[2])
        div.store-details_info
            div.store-details_info_company=product.seller
            div.store-details_info_titley=product.productName
            //-별점 주기(미구현)
            div.store-details_info_star
                span 4.8
                span ⭐⭐⭐⭐⭐
            div.store-details_info_number
                div.store-details_info_price=product.price.toLocaleString('en-US')
                div.store-details_info_discount=`${product.discount}%`
            hr
            div.store-details_info_delivery
                div.store-details_info_left 배송
                div.store-details_info_right
                    div 무료배송
                    div.store-details_info_right_date(id='date-display')
                    div 배송사: 멋사택배
                    div 제주도/도서산간지역 3,000원
            hr
            div.store-details_info_orderAmount
                div 주문금액
                div.store-details_info_orderAmount-Btn
                    button.orderAmountBtn#decrease -
                    div.orderAmountDisplay#counter 0
                    button.orderAmountBtn#increase +
            div.store-details_info_button
                input(type="submit" name="cart" value="장바구니")
                input(type="submit" name="purchase" value="바로구매")