extends header.pug

block content
    div.headerbar-sub
        ul.headerbar-sub_list
            a(href="/store/newest")
                li 최신 상품
            a(href="/store/fashion")
                li 패션
            a(href="/store/equipment")
                li 기구
            a(href="/store/food")
                li 식품
    div.home-header-line
    div.stroe-new
        div 패션
    div.store-new-date