extends header.pug

block content
    div.headerbar-sub
        ul.headerbar-sub_list
            a(href="/store/best")
                li 베스트
            a(href="/store/fashion")
                li 패션
            a(href="/store/equipment")
                li 기구
            a(href="/store/food")
                li 식품
    div.home-header-line