.faq-section {
    max-width: 800px;
    margin: 30px auto;
}

.faq-category {
    background-color: #ff7f3e;
    color: #fff;
    padding: 10px;
    border: none;
    width: 100%;
    text-align: center;
    font-size: 18px;
    margin-bottom: 20px;
}

.faq-tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.tab-button {
    border: 1px solid #ddd;
    background-color: #fff;
    padding: 10px 20px;
    cursor: pointer;
    flex: 1;
    text-align: center;
}

.tab-button.active, .tab-button:hover {
    background-color: #ff7f3e;
    color: #fff;
    width: 50%;
}

.faq-list .faq-item {
    border-top: 1px solid #ddd;
    padding: 10px 0;
}

.question {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.answer {
    display: none;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    margin-top: 10px;
}

.arrow {
    transition: transform 0.3s;
}

.arrow.open {
    transform: rotate(180deg);
}
