.productReg-Title{
    width: 100%;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}
.productReg-Title div{
    height: 50px;
    width: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ff7f3e;
    color: white;
    font-size: 20px;
    font-weight: 600;
}
.productReg-content{
    display: flex;
}
.productReg-content_left{
    height: 100vh;
    width: 230px;
    margin-right: 70px;
}
.productReg-content_left div{
    width: 230px;
    font-size: 18px;
    color: black;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}
.productReg-content_left div:hover{
    font-weight: 600;
    cursor: pointer;
}
.productReg-content_right{
    width: 780px;
    height: 550px;
    border: solid #cfcfcf 1px;
    padding: 5px;
}
.productReg-content_right>div{
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 18px;
}
.productReg-content_right>div div:first-child{
    width: 100px;
    background-color: #fff6e9;
}
.productReg-content_right>div div{
    height: 30px;
    padding: 10px 10px;
    display: flex;
    align-items: center;
}
.productReg-content_right>div input[type="text"]{
    height: 30px;
    width: 500px;
}
.productReg-content_level select{
    height: 30px;
    width: 150px;
}
.productReg-content_productDescription div:first-child{
    padding: 10px 10px 60px 10px;
}
.productReg-content_productDescription textarea{
    height: 90px;
    width: 630px;
    resize: none;
}
.productReg-content_button{
    height: 80px;
    justify-content: end;
    margin-top: 30px;
}
.productReg-content_button input{
    background-color: #ff7f3e;
    color: white;
    font-size: 20px;
    font-weight: 600;
    width: 100px;
    height: 50px;
    border-radius: 50px;
    border: none;
}
.productReg-content_button input:hover{
    cursor: pointer;
    background-color: #bf5f2e;
}