/*상단 서브바*/
.headerbar-sub{
  width: 100%;
  height: 50px;
  background-color: #fff6e9;
  margin: 5px 0px;
  display: flex;
  align-items: center;
}
.headerbar-sub_list{
  display: flex;
}
.headerbar-sub_list a{
  color: #2f3438;
}
.headerbar-sub_list li{
  font-size: 18px;
  font-weight: 600;
  margin: 0px 23px;
}
.headerbar-sub_list li:hover{
  cursor: pointer;
  color: #ff7f3e;
}
/*주간베스트100~끝*/
.stroe-new{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 120px;
}
.stroe-new div{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  width: 300px;
  background-color: #ff7f3e;
  color: white;
  font-weight: 600;
  font-size: 23px;
}
.store-new-date{
  font-size: 15px;
  color: rgb(171, 171, 171);
}