/*반복*/
@import "./components/header.css";
@import "./components/reset.css";
@import "./components/faqIcon.css";
@import "./components/postmixin.css";

/*화면별*/
@import "./home.css";
@import "./storeNewest.css";
@import "./storeFashion.css";
@import "./faq.css";
@import "./mySales.css";
@import "./productReg.css";
@import "./storeDetails.css";
@import "./join_login.css";
@import "./post.css";
@import "./watch.css";
@import "./challenge.css";